body {
    font-family: Arial, sans-serif;
    background-color : #febeeff;
    padding: 30 px;
}

.todo-container {
    background-clor: #fff;
    border-radius: 5 px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

#todo-list {
    list-style-type: none;
    padding: 0;
} 

#todo-list li.= {
    padding: 10px;
    border: 1 px;
    margin bottom: 10 px;
    position: relative;
}

#todo-list li.done {
text-decoration: line-through;
color: #888;
}

#todo-list li button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}